#! Only add this section if you need to serve static files
localhost {
	root /srv
	file_server {
		browse
		hide .git
		precompressed zstd br gzip
	}
}
#! ###

dockge.localhost {
	reverse_proxy dockge:5001
}

services.localhost {
	reverse_proxy uptime-kuma:3001
}

dashboard.localhost {
	reverse_proxy homepage:3000
}
