# You can use whatever you want but a secure token could be generated using:
# openssl rand -base64 16
# After this you can execute the following command on your terminal:
# curl -H "Authorization: Bearer PASTE_YOUR_TOKEN_HERE" localhost:8080/v1/update
# And this will perform an update (pull) of all the containers you are running locally and restart them automatically.
WATCHTOWER_HTTP_API_TOKEN="PASTE_YOUR_TOKEN_HERE"